<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-is-emri-heading" jhiTranslate="otoBakimApp.isEmri.home.createOrEditLabel">Create or edit a Is Emri</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="otoBakimApp.isEmri.gelisZamani" for="field_gelisZamani">Gelis Zamani</label>
                    <div class="d-flex">
                        <input id="field_gelisZamani" type="datetime-local" class="form-control" name="gelisZamani" formControlName="gelisZamani" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="otoBakimApp.isEmri.aciklama" for="field_aciklama">Aciklama</label>
                    <input type="text" class="form-control" name="aciklama" id="field_aciklama"
                           formControlName="aciklama"/>
                    <div *ngIf="editForm.get('aciklama').invalid && (editForm.get('aciklama').dirty || editForm.get('aciklama').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('aciklama').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="otoBakimApp.isEmri.kabulTarihi" for="field_kabulTarihi">Kabul Tarihi</label>
                    <div class="d-flex">
                        <input id="field_kabulTarihi" type="datetime-local" class="form-control" name="kabulTarihi" formControlName="kabulTarihi" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                    <div *ngIf="editForm.get('kabulTarihi').invalid && (editForm.get('kabulTarihi').dirty || editForm.get('kabulTarihi').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('kabulTarihi').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('kabulTarihi').errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                            This field should be a date and time.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="otoBakimApp.isEmri.tipi" for="field_tipi">Tipi</label>
                    <select class="form-control" name="tipi" formControlName="tipi" id="field_tipi">
                        <option value="SIGORTA">{{'otoBakimApp.IsEmriTipi.SIGORTA' | translate}}</option>
                        <option value="BAKIM">{{'otoBakimApp.IsEmriTipi.BAKIM' | translate}}</option>
                        <option value="HASAR">{{'otoBakimApp.IsEmriTipi.HASAR' | translate}}</option>
                    </select>
                    <div *ngIf="editForm.get('tipi').invalid && (editForm.get('tipi').dirty || editForm.get('tipi').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('tipi').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="otoBakimApp.isEmri.arac" for="field_arac">Arac</label>
                    <select class="form-control" id="field_arac" name="arac" formControlName="arac">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="aracOption.id === editForm.get('arac').value?.id ? editForm.get('arac').value : aracOption" *ngFor="let aracOption of aracs; trackBy: trackAracById">{{aracOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
