<div>
    <h3 id="page-heading">
        <span jhiTranslate="otoBakimApp.isEmri.home.title">Is Emris</span>
    </h3>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch"
                           name="currentSearch" placeholder="{{ 'otoBakimApp.isEmri.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="alert alert-warning" *ngIf="isEmris?.length === 0">
        <span jhiTranslate="otoBakimApp.isEmri.home.notFound">No isEmris found</span>
    </div>
    <div class="table-responsive" *ngIf="isEmris?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
                <th jhiSortBy="gelisZamani"><span jhiTranslate="otoBakimApp.isEmri.gelisZamani">Gelis Zamani</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="aciklama"><span jhiTranslate="otoBakimApp.isEmri.aciklama">Aciklama</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="kabulTarihi"><span jhiTranslate="otoBakimApp.isEmri.kabulTarihi">Kabul Tarihi</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="tipi"><span jhiTranslate="otoBakimApp.isEmri.tipi">Tipi</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="arac.plakaNo"><span jhiTranslate="otoBakimApp.isEmri.arac">Arac</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="cari.ad"><span jhiTranslate="otoBakimApp.cari.detail.title">Cari</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let isEmri of isEmris ;trackBy: trackId">
                <td>{{isEmri.gelisZamani | date:'medium'}}</td>
                <td>{{isEmri.aciklama}}</td>
                <td>{{isEmri.kabulTarihi | date:'medium'}}</td>
                <td jhiTranslate="{{'otoBakimApp.IsEmriTipi.' + isEmri.tipi}}">{{isEmri.tipi}}</td>
                <td>
                    <div *ngIf="isEmri.arac">
                        <a [routerLink]="['../arac', isEmri.arac?.id, 'view' ]">{{isEmri.arac?.plakaNo}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="isEmri.cari">
                        <a [routerLink]="['../cari', isEmri.cari?.id, 'view' ]">{{isEmri.cari.ad}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/is-emri', isEmri.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                        </button>
                        <button type="submit"
                                [routerLink]="['/is-emri', isEmri.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'is-emri', { outlets: { popup: isEmri.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="isEmris?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5"
                            [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5"
                            [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
