<div>
    <h2 id="page-heading">
        <span jhiTranslate="otoBakimApp.arac.home.title">Aracs</span>
        <button id="jh-arac-kabul" class="btn btn-dark float-right jh-create-entity create-arac" [routerLink]="['/arac/arackabul']"
                [queryParams]="{'query': currentSearch}" >
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="otoBakimApp.arac.home.aracKabul">
            Arac Kabul
            </span>
        </button>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-arac" [routerLink]="['/arac/new']"
                [queryParams]="{'query': currentSearch}" >
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="otoBakimApp.arac.home.createLabel">
            Create new Arac
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'otoBakimApp.arac.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="alert alert-warning" *ngIf="aracs?.length === 0">
        <span jhiTranslate="otoBakimApp.arac.home.notFound">Test No aracs found</span>
    </div>
    <div class="table-responsive" *ngIf="aracs?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <!--<th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>-->
            <th jhiSortBy="plakaNo"><span jhiTranslate="otoBakimApp.arac.plakaNo">Plaka No</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="modelYili"><span jhiTranslate="otoBakimApp.arac.modelYili">Model Yili</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="rengi"><span jhiTranslate="otoBakimApp.arac.rengi">Rengi</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="yakitTuru"><span jhiTranslate="otoBakimApp.arac.yakitTuru">Yakit Turu</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="vitesTuru"><span jhiTranslate="otoBakimApp.arac.vitesTuru">Vites Turu</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                <!--<th jhiSortBy="motorNo"><span jhiTranslate="otoBakimApp.arac.motorNo">Motor No</span> <fa-icon [icon]="'sort'"></fa-icon></th> -->
                <th jhiSortBy="sasiNo"><span jhiTranslate="otoBakimApp.arac.sasiNo">Sasi No</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                <th jhiSortBy="kullanimSekli"><span jhiTranslate="otoBakimApp.arac.kullanimSekli">Kullanim Sekli</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                <th jhiSortBy="aracTipi"><span jhiTranslate="otoBakimApp.arac.aracTipi">Arac Tipi</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                    <!--<th jhiSortBy="aciklama"><span jhiTranslate="otoBakimApp.arac.aciklama">Aciklama</span> <fa-icon [icon]="'sort'"></fa-icon></th> -->
                <th jhiSortBy="model.id"><span jhiTranslate="otoBakimApp.arac.model">Model</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                <th></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let arac of aracs ;trackBy: trackId">
                    <!--<td><a [routerLink]="['/arac', arac.id, 'view' ]">{{arac.id}}</a></td>-->
                <td>{{arac.plakaNo}}</td>
                <td>{{arac.modelYili}}</td>
                <td>{{arac.rengi}}</td>
                <td jhiTranslate="{{'otoBakimApp.YakitTuru.' + arac.yakitTuru}}">{{arac.yakitTuru}}</td>
                <td jhiTranslate="{{'otoBakimApp.VitesTuru.' + arac.vitesTuru}}">{{arac.vitesTuru}}</td>
                <!-- <td>{{arac.motorNo}}</td> -->
                <td>{{arac.sasiNo}}</td>
                <td jhiTranslate="{{'otoBakimApp.KullanimSekli.' + arac.kullanimSekli}}">{{arac.kullanimSekli}}</td>
                <td jhiTranslate="{{'otoBakimApp.AracTipi.' + arac.aracTipi}}">{{arac.aracTipi}}</td>
                <!--<td>{{arac.aciklama}}</td> -->
                <td>
                    <div *ngIf="arac.model">
                        <a [routerLink]="['../model', arac.model?.id, 'edit' ]" >{{arac.model.marka === null ? arac.model.ad : arac.model.marka.ad + ', ' + arac.model.ad}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit" title="{{'otoBakimApp.isEmri.home.createLabel' | translate}}"
                                [routerLink]="['/is-emri/new']"
                                [queryParams]="{'aracId': arac.id}"
                                class="btn btn-dark btn-sm">
                            <fa-icon [icon]="'wrench'"></fa-icon>
                        </button>
                        <button type="submit"
                                [routerLink]="['/arac', arac.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                        </button>
                        <button type="submit"
                                [routerLink]="['/arac', arac.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'arac', { outlets: { popup: arac.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="aracs?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
