<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-model-heading" jhiTranslate="otoBakimApp.model.home.createOrEditLabel">Create or edit a Model</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="otoBakimApp.model.ad" for="field_ad">Ad</label>
                    <input type="text" class="form-control" name="ad" id="field_ad"
                           formControlName="ad"/>
                    <div *ngIf="editForm.get('ad').invalid && (editForm.get('ad').dirty || editForm.get('ad').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('ad').errors.required" jhiTranslate="entity.validation.required">
                            This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="otoBakimApp.model.marka" for="field_marka">Marka</label>
                    <p-autoComplete class="form-control primeng" id="field_marka" name="marka" formControlName="marka"
                                    [suggestions]="filteredMarkas"
                                    (completeMethod)="filterMarkas($event)" [size]="10" [required]="true"
                                    field="ad" [minLength]="1" [dropdown]="true">
                        <ng-template let-marka pTemplate="item">
                            {{marka.ad}}
                        </ng-template>
                        <ng-template let-model pTemplate="selectedItem">
                            {{marka.ad}}
                        </ng-template>
                    </p-autoComplete>
                    <div *ngIf="editForm.get('marka').invalid && (editForm.get('marka').dirty || editForm.get('marka').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('marka').errors.required" jhiTranslate="entity.validation.required">
                            This field is required.
                        </small>
                    </div>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
