<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="iscilik">
            <h2><span jhiTranslate="otoBakimApp.iscilik.detail.title">Iscilik</span> {{iscilik.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="otoBakimApp.iscilik.aciklama">Aciklama</span></dt>
                <dd>
                    <span>{{iscilik.aciklama}}</span>
                </dd>
                <dt><span jhiTranslate="otoBakimApp.iscilik.fiyat">Fiyat</span></dt>
                <dd>
                    <span>{{iscilik.fiyat}}</span>
                </dd>
                <dt><span jhiTranslate="otoBakimApp.iscilik.iskonto">Iskonto</span></dt>
                <dd>
                    <span>{{iscilik.iskonto}}</span>
                </dd>
                <dt><span jhiTranslate="otoBakimApp.iscilik.isEmri">Is Emri</span></dt>
                <dd>
                    <div *ngIf="iscilik.isEmri">
                        <a [routerLink]="['/is-emri', iscilik.isEmri?.id, 'view']">{{iscilik.isEmri?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="otoBakimApp.iscilik.tipi">Tipi</span></dt>
                <dd>
                    <div *ngIf="iscilik.tipi">
                        <a [routerLink]="['/iscilik-tipi', iscilik.tipi?.id, 'view']">{{iscilik.tipi?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="otoBakimApp.iscilik.personel">Personel</span></dt>
                <dd>
                    <div *ngIf="iscilik.personel">
                        <a [routerLink]="['/personel', iscilik.personel?.id, 'view']">{{iscilik.personel?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/iscilik', iscilik.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
