<div class="row justify-content-center">
    <div class="col-10">
        <h2 id="jhi-cari-heading" jhiTranslate="otoBakimApp.cari.home.createOrEditLabel">Create or edit a Cari</h2>

        <div class="row-md ui-g" *ngIf="searchExist">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'otoBakimApp.cari.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                </div>
            </form>
            <div class="alert alert-warning" *ngIf="caris?.length === 0">
                <span jhiTranslate="otoBakimApp.cari.home.notFound">No caris found</span>
            </div>
            <div class="table-responsive" *ngIf="caris?.length > 0">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th><span jhiTranslate="otoBakimApp.cari.ad">Ad</span></th>
                        <th><span jhiTranslate="otoBakimApp.cari.tcNo">Tc No</span></th>
                        <th><span jhiTranslate="otoBakimApp.cari.vergiNo">Vergi No</span></th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let cari of caris ;trackBy: trackId">
                        <td>{{cari.ad}}</td>
                        <td>{{cari.tcNo}}</td>
                        <td>{{cari.vergiNo}}</td>
                        <td class="text-right">
                            <div class="btn-group">
                                <button type="submit"
                                        [formaction]="selected(cari)"
                                        class="btn btn-primary btn-sm">
                                    <fa-icon [icon]="'pencil-alt'"></fa-icon>
                                </button>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <div class="row-md ui-g">
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group col-lg-4 col-md-6 col-xs-12">
                    <label class="form-control-label" jhiTranslate="otoBakimApp.cari.ad" for="field_ad">Ad</label>
                    <input type="text" class="form-control" name="ad" id="field_ad"
                           formControlName="ad"/>
                    <div *ngIf="editForm.get('ad').invalid && (editForm.get('ad').dirty || editForm.get('ad').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('ad').errors.required" jhiTranslate="entity.validation.required">
                            This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group col-lg-4 col-md-6 col-xs-12">
                    <label class="form-control-label" jhiTranslate="otoBakimApp.cari.tipi" for="field_tipi">Tipi</label>
                    <select class="form-control" name="tipi" formControlName="tipi" id="field_tipi">
                        <option value="MUSTERI">{{'otoBakimApp.CariTipi.MUSTERI' | translate}}</option>
                        <option value="TEDARIKCI">{{'otoBakimApp.CariTipi.TEDARIKCI' | translate}}</option>
                    </select>
                    <div *ngIf="editForm.get('tipi').invalid && (editForm.get('tipi').dirty || editForm.get('tipi').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('tipi').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group col-lg-4 col-md-6 col-xs-12">
                    <label class="form-control-label" jhiTranslate="otoBakimApp.cari.kisiTipi" for="field_kisiTipi">Kisi Tipi</label>
                    <select class="form-control" name="kisiTipi" formControlName="kisiTipi" id="field_kisiTipi">
                        <option value="GERCEK">{{'otoBakimApp.KisiTipi.GERCEK' | translate}}</option>
                        <option value="TUZEL">{{'otoBakimApp.KisiTipi.TUZEL' | translate}}</option>
                    </select>
                    <div *ngIf="editForm.get('kisiTipi').invalid && (editForm.get('kisiTipi').dirty || editForm.get('kisiTipi').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('kisiTipi').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group col-lg-4 col-md-6 col-xs-12">
                    <label class="form-control-label" jhiTranslate="otoBakimApp.cari.aktif" for="field_aktif">Aktif</label>
                    <p-checkbox class="form-control" [formControl]="editForm.controls['aktif']" binary="true"></p-checkbox>
                    <div *ngIf="editForm.get('aktif').invalid && (editForm.get('aktif').dirty || editForm.get('aktif').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('aktif').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group col-lg-4 col-md-6 col-xs-12">
                    <label class="form-control-label" jhiTranslate="otoBakimApp.cari.adres" for="field_adres">Adres</label>
                    <input type="text" class="form-control" name="adres" id="field_adres"
                           formControlName="adres"/>
                </div>
                <div class="form-group col-lg-4 col-md-6 col-xs-12">
                    <label class="form-control-label" jhiTranslate="otoBakimApp.cari.telefon" for="field_telefon">Telefon</label>
                    <input type="text" class="form-control" name="telefon" id="field_telefon"
                           formControlName="telefon"/>
                </div>
                <div class="form-group col-lg-4 col-md-6 col-xs-12">
                    <label class="form-control-label" jhiTranslate="otoBakimApp.cari.tcNo" for="field_tcNo">Tc No</label>
                    <input type="text" class="form-control" name="tcNo" id="field_tcNo"
                           formControlName="tcNo"/>
                </div>
                <div class="form-group col-lg-4 col-md-6 col-xs-12">
                    <label class="form-control-label" jhiTranslate="otoBakimApp.cari.vergiNo" for="field_vergiNo">Vergi No</label>
                    <input type="text" class="form-control" name="vergiNo" id="field_vergiNo"
                           formControlName="vergiNo"/>
                </div>
                <div class="form-group col-lg-4 col-md-6 col-xs-12">
                    <label class="form-control-label" jhiTranslate="otoBakimApp.cari.yetkili" for="field_yetkili">Yetkili</label>
                    <input type="text" class="form-control" name="yetkili" id="field_yetkili"
                           formControlName="yetkili"/>
                </div>
                <div class="form-group col-lg-4 col-md-6 col-xs-12">
                    <label class="form-control-label" jhiTranslate="otoBakimApp.cari.fax" for="field_fax">Fax</label>
                    <input type="text" class="form-control" name="fax" id="field_fax"
                           formControlName="fax"/>
                </div>
                <div class="form-group col-lg-4 col-md-6 col-xs-12">
                    <label class="form-control-label" jhiTranslate="otoBakimApp.cari.eposta" for="field_eposta">Eposta</label>
                    <input type="text" class="form-control" name="eposta" id="field_eposta"
                           formControlName="eposta"/>
                </div>
                <div class="form-group col-lg-4 col-md-6 col-xs-12">
                    <label class="form-control-label" jhiTranslate="otoBakimApp.cari.webAdresi" for="field_webAdresi">Web Adresi</label>
                    <input type="text" class="form-control" name="webAdresi" id="field_webAdresi"
                           formControlName="webAdresi"/>
                </div>
                <div class="form-group col-lg-4 col-md-6 col-xs-12">
                    <label class="form-control-label" jhiTranslate="otoBakimApp.cari.iskonto" for="field_iskonto">Iskonto</label>
                    <input type="number" class="form-control" name="iskonto" id="field_iskonto"
                           formControlName="iskonto"/>
                </div>
                <div class="form-group col-lg-4 col-md-6 col-xs-12">
                    <label class="form-control-label" jhiTranslate="otoBakimApp.cari.efaturaKullanimi" for="field_efaturaKullanimi">Efatura Kullanimi</label>
                    <p-checkbox class="form-control" [formControl]="editForm.controls['efaturaKullanimi']" binary="true"></p-checkbox>
                </div>
                <div class="form-group col-lg-4 col-md-6 col-xs-12">
                    <label class="form-control-label" jhiTranslate="otoBakimApp.cari.aciklama" for="field_aciklama">Aciklama</label>
                    <input type="text" class="form-control" name="aciklama" id="field_aciklama"
                           formControlName="aciklama"/>
                </div>
                <div class="form-group col-lg-4 col-md-6 col-xs-12">
                    <label class="form-control-label" jhiTranslate="otoBakimApp.cari.varsayilanIsEmriTipi" for="field_varsayilanIsEmriTipi">Varsayilan Is Emri Tipi</label>
                    <select class="form-control" name="varsayilanIsEmriTipi" formControlName="varsayilanIsEmriTipi" id="field_varsayilanIsEmriTipi">
                        <option value="SIGORTA">{{'otoBakimApp.IsEmriTipi.SIGORTA' | translate}}</option>
                        <option value="BAKIM">{{'otoBakimApp.IsEmriTipi.BAKIM' | translate}}</option>
                        <option value="HASAR">{{'otoBakimApp.IsEmriTipi.HASAR' | translate}}</option>
                    </select>
                </div>

                <p-fieldset class="col-12">
                    <p-header>
                        <span jhiTranslate="otoBakimApp.cari.hesap">Hesap</span>
                    </p-header>
                    <div class="row-md ui-g">
                        <div class="form-group col-lg-4 col-md-6 col-xs-12">
                            <label class="form-control-label" jhiTranslate="otoBakimApp.hesap.banka" for="field_banka">Banka</label>
                            <input type="text" class="form-control" name="banka" id="field_banka"
                                   formControlName="banka"/>
                        </div>
                        <div class="form-group col-lg-4 col-md-6 col-xs-12">
                            <label class="form-control-label" jhiTranslate="otoBakimApp.hesap.sube" for="field_sube">Sube</label>
                            <input type="text" class="form-control" name="sube" id="field_sube"
                                   formControlName="sube"/>
                        </div>
                        <div class="form-group col-lg-4 col-md-6 col-xs-12">
                            <label class="form-control-label" jhiTranslate="otoBakimApp.hesap.hesapNo"
                                   for="field_hesapNo">Hesap No</label>
                            <input type="text" class="form-control" name="hesapNo" id="field_hesapNo"
                                   formControlName="hesapNo"/>
                        </div>
                        <div class="form-group col-lg-4 col-md-6 col-xs-12">
                            <label class="form-control-label" jhiTranslate="otoBakimApp.hesap.iban" for="field_iban">Iban</label>
                            <input type="text" class="form-control" name="iban" id="field_iban"
                                   formControlName="iban"/>
                        </div>
                    </div>
                </p-fieldset>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
