<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-personel-heading" jhiTranslate="otoBakimApp.personel.home.createOrEditLabel">Create or edit a Personel</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="otoBakimApp.personel.ad" for="field_ad">Ad</label>
                    <input type="text" class="form-control" name="ad" id="field_ad"
                           formControlName="ad"/>
                    <div *ngIf="editForm.get('ad').invalid && (editForm.get('ad').dirty || editForm.get('ad').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('ad').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="otoBakimApp.personel.soyad" for="field_soyad">Soyad</label>
                    <input type="text" class="form-control" name="soyad" id="field_soyad"
                           formControlName="soyad"/>
                    <div *ngIf="editForm.get('soyad').invalid && (editForm.get('soyad').dirty || editForm.get('soyad').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('soyad').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="otoBakimApp.personel.gorevi" for="field_gorevi">Gorevi</label>
                    <input type="text" class="form-control" name="gorevi" id="field_gorevi"
                           formControlName="gorevi"/>
                    <div *ngIf="editForm.get('gorevi').invalid && (editForm.get('gorevi').dirty || editForm.get('gorevi').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('gorevi').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
