<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="iscilikGrubu">
            <h2><span jhiTranslate="otoBakimApp.iscilikGrubu.detail.title">Iscilik Grubu</span> {{iscilikGrubu.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="otoBakimApp.iscilikGrubu.ad">Ad</span></dt>
                <dd>
                    <span>{{iscilikGrubu.ad}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/iscilik-grubu', iscilikGrubu.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
