<div class="row justify-content-center">
    <div class="col-10">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h3 *ngIf="!isPopup" id="jhi-iscilik-tipi-heading" jhiTranslate="otoBakimApp.iscilikTipi.home.createOrEditLabel">Create or edit a Iscilik Tipi</h3>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="otoBakimApp.iscilikTipi.ad" for="field_ad">Ad</label>
                    <input type="text" class="form-control" name="ad" id="field_ad"
                           formControlName="ad"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="otoBakimApp.iscilikTipi.varsayilanFiyat" for="field_varsayilanFiyat">Varsayilan Fiyat</label>
                    <input type="number" class="form-control" name="varsayilanFiyat" id="field_varsayilanFiyat"
                           formControlName="varsayilanFiyat"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="otoBakimApp.iscilikTipi.grubu" for="field_grubu">Grubu</label>
                    <select class="form-control" id="field_grubu" name="grubu" formControlName="grubu">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="iscilikGrubuOption.id === editForm.get('grubu').value?.id ? editForm.get('grubu').value : iscilikGrubuOption" *ngFor="let iscilikGrubuOption of iscilikgrubus; trackBy: trackIscilikGrubuById">{{iscilikGrubuOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button *ngIf="!isPopup" type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
