<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-parca-heading" jhiTranslate="otoBakimApp.parca.home.createOrEditLabel">Create or edit a Parca</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="otoBakimApp.parca.fiyati" for="field_fiyati">Fiyati</label>
                    <input type="number" class="form-control" name="fiyati" id="field_fiyati"
                           formControlName="fiyati"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="otoBakimApp.parca.isEmri" for="field_isEmri">Is Emri</label>
                    <select class="form-control" id="field_isEmri" name="isEmri" formControlName="isEmri">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="isEmriOption.id === editForm.get('isEmri').value?.id ? editForm.get('isEmri').value : isEmriOption" *ngFor="let isEmriOption of isemris; trackBy: trackIsEmriById">{{isEmriOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="otoBakimApp.parca.tipi" for="field_tipi">Tipi</label>
                    <select class="form-control" id="field_tipi" name="tipi" formControlName="tipi">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="parcaTipiOption.id === editForm.get('tipi').value?.id ? editForm.get('tipi').value : parcaTipiOption" *ngFor="let parcaTipiOption of parcatipis; trackBy: trackParcaTipiById">{{parcaTipiOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
